## Database Connection

In [1]:
from config import password

In [2]:
#Import dependencies
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine(f'postgresql://postgres:{password}@localhost/ufc_database')

In [4]:
fight_data_pre_df = pd.read_sql('SELECT * FROM all_fight_details',engine)

In [5]:
fight_data_pre_df

,fight_id,r_fighter,r_current_streak,r_avg_sig_str_landed,r_avg_opp_sig_str_landed,r_total_time_fought_seconds,r_stance,r_height_cms,r_reach_cms,r_age,...,b_avg_opp_sig_str_landed,b_total_time_fought_seconds,b_stance,b_height_cms,b_reach_cms,b_age,b_record,b_takedown_diff,winner,title_bout
0,5144,Henry Cejudo,4,44.000000,32.200000,742.60,Orthodox,162.56,162.56,32.0,...,18.20000,419.400000,Orthodox,167.64,170.18,31.0,3.0,-0.200000,Red,True
1,5143,Valentina Shevchenko,2,59.428571,44.714286,1062.00,Southpaw,165.10,167.64,31.0,...,48.50000,849.000000,Orthodox,167.64,167.64,32.0,-2.0,-0.400000,Red,True
2,5142,Tony Ferguson,11,55.466667,35.733333,604.40,Orthodox,180.34,193.04,35.0,...,44.83871,581.870968,Orthodox,185.42,185.42,36.0,15.0,0.451613,Red,False
3,5141,Jimmie Rivera,-1,45.750000,44.875000,690.25,Orthodox,162.56,172.72,29.0,...,31.75000,652.000000,Switch,170.18,170.18,26.0,4.0,0.500000,Blue,False
4,5140,Tai Tuivasa,-1,32.500000,22.500000,440.75,Southpaw,187.96,190.50,26.0,...,90.00000,1200.000000,Southpaw,180.34,185.42,32.0,0.0,0.000000,Blue,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,5,Gerard Gordeau,1,3.000000,0.000000,26.00,Orthodox,195.58,NaN,34.0,...,12.00000,260.000000,Orthodox,193.04,NaN,NaN,NaN,NaN,Red,False
5140,4,Ken Shamrock,0,NaN,NaN,NaN,Orthodox,185.42,182.88,29.0,...,NaN,NaN,Orthodox,187.96,NaN,30.0,NaN,NaN,Red,False
5141,3,Royce Gracie,0,NaN,NaN,NaN,Southpaw,185.42,NaN,26.0,...,NaN,NaN,Orthodox,185.42,NaN,30.0,NaN,NaN,Red,False
5142,2,Kevin Rosier,0,NaN,NaN,NaN,Orthodox,193.04,NaN,NaN,...,NaN,NaN,Orthodox,195.58,NaN,NaN,NaN,NaN,Red,False
5143,1,Gerard Gordeau,0,NaN,NaN,NaN,Orthodox,195.58,NaN,34.0,...,NaN,NaN,Orthodox,182.88,NaN,24.0,NaN,NaN,Red,False

## Data Cleaning

In [6]:
#Look at database makeup
fight_data_pre_df.isna().sum()

fight_id                          0
r_fighter                         0
r_current_streak                  0
r_avg_sig_str_landed            650
r_avg_opp_sig_str_landed        650
r_total_time_fought_seconds     650
r_stance                        134
r_height_cms                      4
r_reach_cms                     316
r_age                            64
r_record                       5041
r_takedown_diff                5041
b_fighter                         0
b_current_streak                  0
b_avg_sig_str_landed           1265
b_avg_opp_sig_str_landed       1265
b_total_time_fought_seconds    1265
b_stance                        159
b_height_cms                      8
b_reach_cms                     666
b_age                           172
b_record                       5041
b_takedown_diff                5041
winner                            0
title_bout                        0
dtype: int64

In [18]:
#Drop certain columns
fight_data_prerun = fight_data_pre_df.copy() 
fight_data_prerun = fight_data_prerun.drop("r_record",axis=1)
fight_data_prerun = fight_data_prerun.drop("r_takedown_diff",axis=1)
fight_data_prerun = fight_data_prerun.drop("b_record",axis=1)
fight_data_prerun = fight_data_prerun.drop("b_takedown_diff",axis=1)
fight_data_prerun = fight_data_prerun.drop("r_fighter",axis=1)
fight_data_prerun = fight_data_prerun.drop("r_stance",axis=1)
fight_data_prerun = fight_data_prerun.drop("b_stance",axis=1)
fight_data_prerun = fight_data_prerun.drop("b_fighter",axis=1)
fight_data_prerun = fight_data_prerun.drop("title_bout",axis=1)

In [19]:
fight_data_to_run = fight_data_prerun.dropna()

In [20]:
fight_data_to_run

,fight_id,r_current_streak,r_avg_sig_str_landed,r_avg_opp_sig_str_landed,r_total_time_fought_seconds,r_height_cms,r_reach_cms,r_age,b_current_streak,b_avg_sig_str_landed,b_avg_opp_sig_str_landed,b_total_time_fought_seconds,b_height_cms,b_reach_cms,b_age,winner
0,5144,4,44.000000,32.200000,742.600000,162.56,162.56,32.0,4,22.600000,18.20000,419.400000,167.64,170.18,31.0,Red
1,5143,2,59.428571,44.714286,1062.000000,165.10,167.64,31.0,3,51.300000,48.50000,849.000000,167.64,167.64,32.0,Red
2,5142,11,55.466667,35.733333,604.400000,180.34,193.04,35.0,3,46.774194,44.83871,581.870968,185.42,185.42,36.0,Red
3,5141,-1,45.750000,44.875000,690.250000,162.56,172.72,29.0,4,70.250000,31.75000,652.000000,170.18,170.18,26.0,Blue
4,5140,-1,32.500000,22.500000,440.750000,187.96,190.50,26.0,1,61.500000,90.00000,1200.000000,180.34,185.42,32.0,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4887,257,2,20.714286,7.714286,630.285714,190.50,187.96,26.0,3,26.333333,4.00000,317.666667,182.88,187.96,30.0,Red
4901,243,1,23.666667,7.333333,557.666667,187.96,193.04,30.0,1,31.000000,5.00000,600.000000,175.26,187.96,29.0,Red
4923,221,-1,21.800000,8.400000,560.000000,190.50,187.96,25.0,1,13.000000,5.50000,108.500000,180.34,187.96,23.0,Red
4967,177,-2,8.500000,14.500000,597.500000,185.42,187.96,23.0,1,46.000000,9.00000,720.000000,187.96,193.04,29.0,Red
5008,136,2,8.500000,0.000000,124.500000,185.42,190.50,34.0,3,13.666667,1.00000,57.333333,182.88,187.96,20.0,Red

## Machine Learning Model

In [17]:
#import more dependencies
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [22]:
#Define the X variables
X_pre = fight_data_to_run
X = X_pre.drop("winner",axis=1)

In [25]:
y = fight_data_to_run["winner"].values

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
#Train the data
classifier.fit(X_train_scaled,y_train)

LogisticRegression(random_state=1)

In [32]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

    Prediction Actual
0         Blue    Red
1         Blue   Draw
2         Blue   Blue
3         Blue    Red
4         Blue    Red
..         ...    ...
834       Blue    Red
835       Blue    Red
836       Blue   Blue
837       Blue    Red
838       Blue    Red

[839 rows x 2 columns]

In [30]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.3730631704410012