## Database Connection

In [1]:
from config import password

In [2]:
#Import dependencies
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [3]:
##%load_ext sql

In [4]:
engine = create_engine(f'postgresql://postgres:{password}@localhost/ufc_project_provisional')

In [5]:
fight_data_pre_df = pd.read_sql('SELECT * FROM ufc_fight_data_pre',engine)

In [6]:
fight_data_pre_df.tail()

,red_fighter,blue_fighter,winner,no_of_rounds,b_current_lose_streak,b_current_win_streak,b_losses,b_wins,b_stance,b_height_cms,b_reach_cms,r_current_lose_streak,r_current_win_streak,r_losses,r_wins,r_stance,r_height_cms,r_reach_cms,b_age,r_age
5139,Gerard Gordeau,Kevin Rosier,Red,1,0,1,0,1,Orthodox,193.04,NaN,0,1,0,1,Orthodox,195.58,NaN,NaN,34.0
5140,Ken Shamrock,Patrick Smith,Red,1,0,0,0,0,Orthodox,187.96,NaN,0,0,0,0,Orthodox,185.42,182.88,30.0,29.0
5141,Royce Gracie,Art Jimmerson,Red,1,0,0,0,0,Orthodox,185.42,NaN,0,0,0,0,Southpaw,185.42,NaN,30.0,26.0
5142,Kevin Rosier,Zane Frazier,Red,1,0,0,0,0,Orthodox,195.58,NaN,0,0,0,0,Orthodox,193.04,NaN,NaN,NaN
5143,Gerard Gordeau,Teila Tuli,Red,1,0,0,0,0,Orthodox,182.88,NaN,0,0,0,0,Orthodox,195.58,NaN,24.0,34.0

## Preliminary Machine Learning Model

In [7]:
#import more dependencies
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [8]:
fight_data_df = fight_data_pre_df.dropna()

In [9]:
#Define the X variables
X_pre = fight_data_df.copy()
X_pre = X_pre.drop("red_fighter",axis=1)
X_pre = X_pre.drop("blue_fighter",axis=1)
X_pre = X_pre.drop("winner",axis=1)
X_pre = X_pre.drop("b_stance",axis=1)
X_pre = X_pre.drop("r_stance",axis=1)

In [10]:
X = X_pre.dropna()

In [11]:
#Define the target set
y = fight_data_df["winner"].values

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
#Train the data
classifier.fit(X_train_scaled,y_train)

LogisticRegression(random_state=1)

In [15]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction Actual
0           Red   Blue
1           Red    Red
2           Red   Blue
3           Red   Blue
4           Red    Red
...         ...    ...
1040        Red    Red
1041        Red    Red
1042        Red    Red
1043        Red    Red
1044        Red    Red

[1045 rows x 2 columns]

In [18]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.6334928229665072